name: Django application

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    env:
      PIPENV_VENV_IN_PROJECT: 1
      PIPENV_NO_INHERIT: 1
      PIPENV_IGNORE_VIRTUALENVS: 1

    runs-on: ubuntu-latest


    services:
      postgres:
        image: postgres:12
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: django
        ports: [ '5432:5432' ]

    steps:
    - uses: actions/checkout@v2
    - name: Setup python-3.8.12
      uses: actions/setup-python@v1
      with:
        python-version: 3.8.12

    - name: Copiar Configurações .env
      run: |
          cp contrib/env-sample .env

    - name: Install dependencies
      run: |
        python --version
        pip --version
        python3 -m pip install --upgrade pip
        pip install pipenv
        pipenv install coverage
        pipenv install codecov
        pipenv sync -d
        pipenv install --deploy --dev
    - name: Test with pytest
      run: |
        pipenv run pytest --no-migrations --cov=pypro/aperitivos/tests

    - name: Relatório Coverage
      env:
        CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      run: |
        pipenv run codecov
    - name: Codecov
      uses: codecov/codecov-action@v2.1.0
     codecov:
      require_ci_to_pass: true
      comentário:
        comportamento: padrão
        layout: alcance , diff , bandeiras , árvore , alcance
        show_carryforward_flags: false
      cobertura:
        precisão: 2
        intervalo:
          - 70,0
          - 100,0
        redondo: baixo
        estado:
          alterações: falso
          regras_default:
            flag_coverage_not_uploaded_behavior: incluir
          remendo:
            padrão:
              alvo: 0,0
          projeto:
            padrão:
              alvo: 0,0
      github_checks:
        anotações: verdadeiro